 /* body{ */
    /* background-color: rgb(139, 172, 143);
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 5%;
}
h1 {
    color: rgb(5, 128, 42);
}
h3{
    color: rgb(5, 128, 42);
} */
.temp{
    border: 1px solid black;
    border-collapse: collapse;
    background-color: rgb(195, 157, 229);
}
.temp1{
    background-color: red;
}
/* img:hover{
    background-color: rgb(116, 158, 126);
}
button{
    background-color: rgb(156, 96, 96);
} */

#title{
    background-color: rgb(211 202 203);
}
h1{
    font-weight: 1000;
}